body{
    color:navy;
    background-color:orchid
}

h1 {
    color: white;
    margin-left: 30px; 
    padding-left:10px;
}
.menu{
    margin-right:30px;
}
.menu a{
    margin-left:20px;
}

/* '*' astrick sign effects every element in page*/
/* * {
    border: solid;
} */

/* only header element is effected*/
.header * {
    border:solid;
}

/* only item element is effected*/
/*.item * {
    border:solid;
    position:relative;
}*/

.header{
    background-color: #6e53c3;
    display: flex;
    justify-content: space-between;
}


.grid{
    display: flex;
    flex-wrap: wrap;
    justify-content:space-evenly;
}

.footer{
    margin-top:50px;
    display: flex;
    justify-content:center;
}

p,h2{
    text-align: center;
}


a:link {
    color:rgb(25, 0, 255)
}
a:visited {color:rgb(255, 0, 21)}







/* element refered directly eg h, p, body */